<div class="toolbar">
	<h1>Parada {{ name }}</h1>
	<a class="button back" href="#cat-bus">Volver</a>
</div>
<ul class="rounded">
	<li>{{ numberofbizis }} bicicletas</li>
	<li>{{ numberofparkings }} aparcamientos</li>
</ul> 

<ul class="individual"> 
	<li><a href="http://maps.google.com/maps?saddr={{ slat }},{{ slon }}&amp;daddr={{ lat }},{{ lon }}&amp;dirflg=w" target="_blank">Cómo llegar</a></li>
	<li id="addfavories" style="display:none;"><a href="javascript:void(null);" onclick="createFavorite('saveFavorite');">Añadir a favoritos</a></li>
	<form id="saveFavorite" method="post" name="saveFavorite" action="#">
	<input type="hidden" name="lat" id="favLat" value="{{ lat }}"/>
	<input type="hidden" name="lon" id="favLon" value="{{ lon }}"/>
	<input type="hidden" name="id" id="favId" value="{{ name }}"/>
	<input type="hidden" name="name" id="favName" value="{{ name }}"/>
	<input type="hidden" name="cat" id="favCat" value="bizi"/>
	</form>
</ul>