<div class="toolbar">
	<h1>Parada {{ name }}</h1>
	<a class="button back" href="#cat-bus">Volver</a>
</div>
<ul class="rounded">
	<li>{{ numberofbizis }} bicicletas</li>
	<li>{{ numberofparkings }} aparcamientos</li>
</ul> 

<ul class="individual"> 
	<li><a href="http://maps.google.com/maps?saddr={{ slat }},{{ slon }}&amp;daddr={{ lat }},{{ lon }}&amp;dirflg=w" target="_blank">Cómo llegar</a></li>
	{% comment %}
	<!--li id="addfavories" style="display:none;"><a href="#" target="_blank" >Añadir a favoritos</a></li-->
	{% endcomment %}
</ul>