<div class="toolbar">
        <h1>Poste {{ post }}</h1>
        <a class="button back" href="#cat-bus">Volver</a>
</div>
<h1>Poste {{ post }}<!--{{ address }}--></h1>
<ul class="rounded"> 
	{% for line in lines.items %}
	<li>
		[{{ line.0 }}] {{line.1.name}}
		{% for bus in line.1.buses %}
		<br/>{{bus}}
		{% endfor %}

	</li> 
	{% endfor %}
</ul> 

<ul class="individual"> 
	<li><a href="http://maps.google.com/maps?saddr={{ slat }},{{ slon }}&amp;daddr={{ lat }},{{ lon }}" target="_blank">Cómo llegar</a></li>
	<!--li id="addfavories" style="display:none;"><a href="javascript:void(null);" onclick="createFavorite('saveFavorite');">Añadir a favoritos</a></li>
	<form id="saveFavorite" method="post" name="saveFavorite" action="#">
	<input type="hidden" name="lat" id="favLat" value="{{ lat }}"/>
	<input type="hidden" name="lon" id="favLon" value="{{ lon }}"/>
	<input type="hidden" name="id" id="favId" value="{{ post }}"/>
	<input type="hidden" name="cat" id="favCat" value="bus"/>
	</form>-->
</ul>