<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/cache/images-004/logo_iphone.png">
		<link rel="apple-touch-icon-precomposed" href="/cache/images-004/logo_iphone.png">
		<link rel="apple-touch-startup-image" href="/cache/images-004/inicio.jpg">
		<link rel="shortcut icon" href="/cache/images-004/logo_iphone.png">
		
		<title>DNDzgz</title>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
		<link href="/web/css/app.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div data-role="page" class="type-interior" id="home">

			<div data-role="header">
			<img src="/cache/images-004/cabecera.png"/>
			</div><!-- /header -->
			<div data-role="content">
			<div class="content-primary">
			<ul data-role="listview">
				{% for cat in categories %}
				<li><a href="#map-page" id="cat-{{ cat.key }}" class="categories-for-map" onclick="changeMapName('{{ cat.name|escape }}');">
					<img src="/cache/markers/marker-{{ cat.key }}.png" class="ui-li-icon"/>{{ cat.name|escape }}
				</a></li>
				{% endfor %}
			</ul>
			</div>
			</div>
		</div>
		<div data-role="page" id="map-page" class="loading">
			<div data-role="header">
				<h1><span class="service-type">Mapa</span></h1>
				<a href="#home" data-icon="home" data-direction="reverse">Inicio</a>
				<a href="#" data-icon="gear" onclick="geolocalize();" title="Localizar">Yo</a>
			</div><!-- /header -->
			<div data-role="content">
				<div id="wrapper">
				<div id="map-container"></div>
				<div id="over_map" style="display:none">Estás muy lejos para ver los puntos</div>
				</div>
			</div>
			<div data-role="footer" id="line_selector" style="display:none">
				<a href="#popupLines" data-rel="popup" data-role="button" data-inline="true">Líneas</a>
			</div>

			<div data-role="popup" id="popupLines" data-theme="none">
				<ul data-role="listview" id="bus_lines">
					<li data-role="divider">Líneas de autobús</li>
				</ul>
			</div><!-- /popup -->
		</div>

		<div data-role="page" id="complaint-page">
			<div data-role="header">
				<h1>Ayúdanos</h1>
				<a href="#map-page" data-icon="back" data-direction="reverse">Volver</a>
			</div><!-- /header -->
			<div data-role="content" style="text-align:center">
				<h1>Ayúdanos a mejorar</h1>
				<p>En diversas ocasiones el Ayuntamiento de Zaragoza y Tranvías de Zaragoza nos han prometido acceso a más información para mejorar aplicaciones como DNDzgz</p>
				<p><strong>Tras muchos, muchos meses no hemos visto ningún progreso.</strong> Es por eso que queremos pedir tu colaboración. Ayúdanos a presionar al Ayuntamiento y Tranvías de Zaragoza</p>
				<a href="http://zaragoza.uservoice.com/forums/64643-datos-que-me-gustar%C3%ADa-reutilizar-y-aplicaciones-qu/suggestions/3553466-informaci%C3%B3n-en-tiempo-real-de-paradas-de-tranv%C3%ADa" data-role="button" data-theme="b" target="blank">Vota nuestra petición de datos</a>
			</div>
		</div>
		
		
		
		<div id="detail" data-role="page" class="loading">
			<div data-role="header">
				<h1><span class="place-id"></span></h1>
				<a href="#map-page" data-icon="back" data-direction="reverse">Volver</a>
			</div>
			<div data-role="content">
				<div class="content-primary">
				<h2><span class="place-id"></span></h2>
				<ul data-role="listview" id="detail-list">
				</ul>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="/web/js/app.js" type="application/x-javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				{% for cat in categories %}
				$('#cat-{{ cat.key }}').click(function() { showMap('{{ cat.key }}') });
				{% endfor %}
			});

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-918753-5']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</body>
</html>