<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>DND zgz</title>
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>
		<script type="text/javascript"> google.load("jquery", "1.3.2"); </script>
		<script src="/static/jqt/jqtouch/jqtouch.min.js" type="application/x-javascript" charset="utf-8"></script>
		<style type="text/css" media="screen">@import "/static/jqt/jqtouch/jqtouch.min.css";</style>
		<style type="text/css">
			body {
				-webkit-perspective: 0;
				-webkit-transform-style: flat;
			}
			body > * {
				-webkit-backface-visibility: visible;
			}
			body > .current {
				-webkit-transform: none !important;
			}
			#favorites{
				display:none;
			}
			
			#favoritos ul li {
			    position: relative;
			}
			
			#favoritos ul li .delete {
			    position: absolute;
			    top: 5px;
			    right: 6px;
			    font-size: 12px;
			    line-height: 30px;
			    padding: 0 3px;
			    border-width: 0 5px;
			    -webkit-border-image: url(themes/jqt/img/button.png) 0 5 0 5;
			}
			
			div#home{background:#333}
		</style>
		<style type="text/css" media="screen">@import "/static/jqt/themes/apple/theme.min.css";</style>
		
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
	</head>

	<div id="bus">
		<div class="toolbar">
			<h1>Autobuses</h1>
			<a href="#" class="back">Volver</a>
		</div>
		
		<div id="map-container">
			<!--
			<div id="map-overflow" style="overflow: hidden; width: 320px; height: 415px; text-align: center;">
				<div id="map_canvas" style="width: 360px; height: 445px; margin-left: -20px; margin-top: -20px;"></div>
			</div>
			-->
			<div id="map_canvas" style="width: 360px; height: 445px"></div>
		</div>
	</div>
	
	<div id="favoritos">
		<div class="toolbar">
		        <h1>Favoritos</h1>
		        <a class="button back" href="#">Volver</a>
		</div>
		<ul class="edgetoedge">
			<li id="entryTemplate" style="display:none">
		    	<a href="#"><span class="name">Name</span> - <span class="service">Service</span></a>
		    	<span class="delete">Eliminar</span>
			</li>
		</ul>
	</div>
	
	<div id="detail" class="current">
		<div class="toolbar">
		        <h1>Poste 123</h1>
		        <a class="button back" href="#">Volver</a>
		</div>
		<h1>C\ Rue del percebe 1</h1>
		<ul class="rounded"> 
			<li>
				[20] Actur<br/>
				1 min.<br/>
				80 minutacos
			</li> 
		</ul> 
	
		<ul class="individual"> 
			<li><a href="#" target="_blank">Cómo llegar</a></li>
			<li><a href="#" target="_blank">Añadir a favoritos</a></li>
		</ul> 
	</div>
	
	<div id="home" class="">
		<p style="margin-top:20px"><img src="/static/images/cabecera.png" /></p>
		<ul class="rounded"> 
			<li class="arrow"><a class="slide" href="#bus">Autobuses</a></li> 
			<li class="arrow"><a href="#bizi">Bizi</a></li> 
			<li class="arrow"><a href="#farmacias">Farmacias</a></li> 
		</ul> 
		<ul class="rounded" id="favorites"> 
			<li class="arrow"><a href="#favoritos">Favoritos</a></li> 
		</ul> 
		<ul class="individual"> 
			<li><a href="mailto:dndzgz@gmail.com" target="_blank">Email</a></li>
			<li><a href="#" target="_blank">Equipo</a></li>
		</ul> 
		<div class="info"> 
			<p>¡Añade esta página tu página de inicio!</p> 
		</div> 
	</div>
	
	<script type="text/javascript" charset="utf-8">
	$.jQTouch({
		icon: '/static/images/logo_iphone.png',
		statusBar: 'black-translucent',
		preloadImages: [
			'themes/jqt/img/chevron_white.png',
			'themes/jqt/img/bg_row_select.gif',
			'themes/jqt/img/back_button_clicked.png',
			'themes/jqt/img/button_clicked.png'
			]
		});
		
		var map = null;
		var infowindow = null;
		var markers = [];
		var db;
		
		function addMarker(lat, lon, name, infowindow) {
			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(lat, lon),
				map: map,
				title: name
			});
			google.maps.event.addListener(marker, 'click', function() {
				infowindow.content = name;
				infowindow.open(map, marker);
			});
			markers.push(marker);
		}
		
			function map_initialize() {
				var initialLocation;
				if(navigator.geolocation) {
				    browserSupportFlag = true;
				    navigator.geolocation.getCurrentPosition(function(position) {
				      initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
				      map.setCenter(initialLocation);
				    }, function() {
				      handleNoGeolocation(browserSupportFlag);
				    });
				} else {
 					initialLocation = new google.maps.LatLng(41.641184, -0.894032);
				}
				
				var myOptions = {
					zoom: 16,
					center: initialLocation,
					navigationControl: false,
					disableDefaultUI: true,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
				infowindow = new google.maps.InfoWindow({
					content: "foobar"
				});
				
				$.ajax({ url: '/fetch?service=bizi',
					dataType: 'json',
					success: function(data) {
						removeMarkers();
						var n = data.length;
						for(i=0; i<n; i++) {
							var place = data[i];
							addMarker(place['lat'], place['lon'], place['name'], infowindow);
							/*
							var lat = place['lat'];
							var lon = place['lon'];
							var name = place['name'];
							var marker = new google.maps.Marker({
								position: new google.maps.LatLng(lat, lon),
								map: map,
								title: name
							});
							*/
						}
					}
				});
				
			}
			
			function removeMarkers() {
				while(markers.length > 0) {
					markers.pop().setMap(null);
				}
			}
			
			function supports_local_database() {
			  return !!window.openDatabase;
			}
			
			function connectDatabase() {
				var shortName = 'dndzgz';
				var version = '1.0';
				var displayName = 'DNDzgz';
				var maxSize = 65536;
				db = openDatabase(shortName, version, displayName, maxSize);
				
				db.transaction(
					function(transaction) {
				    	transaction.executeSql(
				                'CREATE TABLE IF NOT EXISTS favorites ' +
				                '   (id INTEGER NOT NULL, ' +
								' 	service VARCHAR(255) NOT NULL, ' +
				                '   date DATE NOT NULL,' +
								' 	name VARCHAR(255) NOT NULL, ' +
								' 	latitude REAL NOT NULL, ' +
				                '   longitude REAL NOT NULL, ' +
								'   PRIMARY KEY (id,service));'
				    	);
					}
				);
				
				/*db.transaction(
					function(transaction) {
						transaction.executeSql(
			                'INSERT INTO favorites (id, service, date, name,  latitude, longitude) VALUES (?, ?, ?, ?, ?, ?);', 
			                [1, 'bizi',new Date(), 'trolololo', 41.6602133829, -0.863670578642],
							null, 
			                errorHandler
			            );	
					}
				);*/
			}
			
			function favoritesList(){
				db.transaction(
					function(transaction) {
						transaction.executeSql(
	                		'Select * from favorites;', [],
							function(transaction, result){
	                    		for (var i=0; i < result.rows.length; i++) {
									var row = result.rows.item(i);
									var newEntryRow = $('#entryTemplate').clone();
									newEntryRow.removeAttr('id');
									newEntryRow.removeAttr('style');
									newEntryRow.data('favoriteId', row.id);
									newEntryRow.appendTo('#favoritos ul');
									newEntryRow.find('.name').text(row.name);
									newEntryRow.find('.service').text(row.service);
									newEntryRow.find('.delete').click(function(){
									    var clickedEntry = $(this).parent();
									    var clickedEntryId = clickedEntry.data('favoriteId');
									    deleteFavoriteById(clickedEntryId);
									    clickedEntry.slideUp();
									});
									newEntryRow.find('a').attr('href','#'+row.service);
								}
	                		}, 
	                		errorHandler
	            		);
					}
				);
			}

			function createFavorite() {
				//TODO:
				var id = 0;
			    var name = '';
			    var service = '';
				var latitude = 0;
				var longitude = 0;
			    db.transaction(
			        function(transaction) {
			            transaction.executeSql(
			                'INSERT INTO favorites (id, service, date, name,  latitude, longitude) VALUES (?, ?, ?, ?, ?, ?);', 
			                [id, service, new Date(), name, latitude, longitude], 
			                function(){
			                    jQT.goBack();
								favoritesList();
			                }, 
			                errorHandler
			            );
			        }
			    );
			    return false;
			}
			
			function deleteFavoriteById(id) {
			    db.transaction(
			        function(transaction) {
			            transaction.executeSql('DELETE FROM favorites WHERE id=?;', 
			              [id], null, errorHandler);
			        }
			    );
			}
			
			function errorHandler(transaction, error) {
			    alert('Oops. Error was '+error.message+' (Code '+error.code+')');
			    return true;
			}
		
		$(document).ready(function() {
			map_initialize();
			if(supports_local_database()){
				$('#favorites').show();
				connectDatabase();
				favoritesList();
				//$('#createFavorite form').submit(createFavorite);
				
			}
		});
	</script>
</html>