<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title>DNDzgz Lite</title>
<link href="/web/css/lite.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
	<h1>DNDzgz Lite</h1>
	<h2>Versión reducida de Dónde en Zaragoza</h2>
	<br/>
	{% if items %}
	<strong>{{name}}</strong>
	<ul>
		{% for item in items %}
		<li>{{ item }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<form method="post" action="/lite">
		<input type="hidden" name="service" id="service" value="bus"/>
		<label for="id">Número de poste de Bus:</label><br/>
		<input type="text" name="id" id="id"/>
		<input type="submit" value="Ver autobuses"/>
	</form>
	<br/>
	<form method="post" action="/lite">
		<input type="hidden" name="service" id="service" value="bizi"/>
		<label for="id">Número de parada de Bizi:</label><br/>
		<input type="text" name="id" id="id"/>
		<input type="submit" value="Ver bizis"/>
	</form>
	<br/>
	<p>Porque algunos no tenemos teléfonos de última generación! ;)</p>
<a href="/">Inicio</a>
</body>
</html>