#map-container{height:300px;width:100%}
@media screen and (min-height: 500px) {
	#map-container{height:450px;}
}
@media screen and (min-height: 600px) {
	#map-container{height:520px;}
}
@media screen and (min-height: 700px) {
	#map-container{height:610px;}
}
@media screen and (min-height: 800px) {
	#map-container{height:700px;}
}
@media screen and (min-height: 900px) {
	#map-container{height:790px;}
}
@media screen and (min-height: 1000px) {
	#map-container{height:880px;}
}
@media screen and (min-height: 1100px) {
	#map-container{height:950px;}
}

#popupLines{height:300px; overflow:scroll}
#wrapper { position: relative; }
#over_map { position: absolute; top: 50%; left: 20%; z-index: 99; background-color:white; width: 60%; text-align: center; font-size: 20px}